@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";

// variables, mixins, etc
@import "partials/colours";
@import "partials/base";
@import "partials/typography";
@import "partials/forms";

// default global styles
@import "partials/global";

// Mobile
@media screen and (max-width: 767px) {
  @import "partials/mobile";  
}

// Tablet
@media screen and (max-width: 959px) {
  @import "partials/tablet";  
}

// Desktop
@media screen and (min-width: 960px) {
  @import "partials/desktop"; 
}

// retina high density mobile devices
@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5)
{
  @import 'partials/hdpi';
}

/* ========================
     _                                        
 ___| |__   __ _ _ __ ___   ___   ___ ___ ___ 
/ __| '_ \ / _` | '_ ` _ \ / _ \ / __/ __/ __|
\__ \ | | | (_| | | | | | |  __/| (__\__ \__ \
|___/_| |_|\__,_|_| |_| |_|\___(_)___|___/___/
                                              
/* ======================== */
@import 'partials/shame';