
/* 	Fonts, yeah?
/* ======================================= */
	
h1 {
	font-size: 32px;
	line-height: 42px;
	margin: 0 0 22px 0;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 8px 0;
}

h3 {
	font-size: 20px;
	line-height: 26px;
	margin: 0 0 12px 0;
}

.centered {
	text-align: center;
}