<div id="lists" class="page">

	
	<!-- NAV -->
	<div class="section">
		<div class="inner">
			<nav class="subnav">
				<ul>
					<li><a ng-click="changeView('browse')" ng-class="{ selected: view === 'browse' }">Browse</a></li>
					<li><a ng-click="changeView('new')" ng-class="{ selected: view === 'new' }">Create New List</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- New Lists -->
	<div class="section" ng-show="view === 'new'">
		<div class="inner">
			<h2>New List</h2>

			<form novalidate>
				<div class="row">
					<input type="text" placeholder="List name" ng-model="newList.name">
				</div>
				<div class="row">
					<input type="text" placeholder="List type" ng-model="newList.type">
				</div>
				<div class="row">
					<input type="text" placeholder="Search symbols" ng-model="search">
				</div>
				<div class="row">
					<ul class="symbols">
						<li class="symbol" ng-repeat="symbol in results" ng-click="toggleSymbol(symbol)">
							<img ng-src="http://symplifyapp.com/graphics/{{ symbol.gfx_filename }}" />
							<span class="word_text">{{ symbol.word_text }}</span>
						</li>
					</ul>
				</div>
				<input type="submit" ng-click="createList()">
			</form>
			
			<hr/>	

			<h2>Selected symbols</h2>
	
			<div class="row">
				<ul class="symbols">
					<li class="symbol" ng-repeat="symbol in newList.symbols" ng-click="">
						<img ng-src="http://symplifyapp.com/graphics/{{ symbol.gfx_filename }}" />
						<span class="word_text">{{ symbol.word_text }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<!-- Browse existing lists -->
	<div class="section" ng-show="view === 'browse'">
		<div class="inner">
			<h2>Browse lists</h2>
			<form novalidate>
				<div class="row">
					<select ng-model="current" ng-init="init()" ng-change="listChanged(data)">
						<option ng-repeat="list in lists" value="{{ $index }}">{{ list.name }}</option>
					</select>
				</div>
			</form>
			<ul class="symbols">
				<li class="symbol" ng-repeat="symbol in list.symbols">
					<img ng-src="http://symplifyapp.com/graphics/{{ symbol.gfx_filename }}" />
					<span class="word_text">{{ symbol.word_text }}</span>
				</li>
			</ul>
		</div>
	</div>
	

</div>