<div ng-controller="SearchController" id="search" class="page">
    <h2>Search</h2>
    <form>
        <!-- <input type="password" id="password" ng-model="password" placeholder="password"> -->
        <input type="text" id="searchterm" ng-model="searchterm" placeholder="Search">
    </form>
    <ul id="symbols">
       <li ng-repeat="symbol in symbols">
           <img ng-src="http://symplifyapp.com/graphics/{{ symbol.gfx_filename }}" style="display: block;" />
           <label>{{ symbol.word_text }}</label>
       </li> 
    </ul>
</div>